<header>
    <h1>
        <a href="{{ domain }}/">
            SZLG órarendek
        </a>
    </h1>

    {# LOG OUT link #}
    <a class="logout" href="accounts/logout/">
        Kijelentkezés
    </a>

    {# NAV BAR #}
    <nav>
        <ul>
            <li><a href="{{ domain }}/orarend/nagy/tanar/">nagy-tanári</a></li>
            <li><a href="{{ domain }}/orarend/nagy/diak/">nagy-diák</a></li>
            <li><a href="{{ domain }}/orarend/nagy/terem/">nagy-terem</a></li>
            <li><a href="{{ domain }}/orarend/kis/tanar/">kis-tanári</a></li>
            <li><a href="{{ domain }}/orarend/kis/diak/">kis-diák</a></li>
            <li><a href="{{ domain }}/orarend/kis/terem/">kis-terem</a></li>
        </ul>
    </nav>
</header>