{% load orarendfilterek %}
<div id="container">
    <div></div>
    <div class="orarendcim">{{ a_tanar.kreta }}</div>
    <div></div>

    <div></div>
    {% for a_nap in napok %}
        <div class="oszlopcim">{{ a_nap.hosszu }}</div>
    {% endfor %}
    <div></div>


    {% for a_hanyadik in hanyadikok %}
    <div class="sorcim">{{ a_hanyadik }}.</div>
        {% for a_nap in napok %}
        {% orak tanar=a_tanar nap=a_nap ora=a_hanyadik as orak_itt %}
        <div class="rublika tanar{{az_osztaly.sorszam}} nap_{{a_nap.sorszam}} ora_{{a_hanyadik}}">
            {% for ora in orak_itt %}
            <div class="ora">
                <div class="tantargy {{ ora.tantargy.rovid }}">{{ ora.tantargy.rovid }}</div>
                {% if ora.csoport.osztaly_e %}
                <a class="osztaly dobozhoverable cs_{{ ora.csoport.osztalyai }}" href="{{ domain }}/orarend/kis/diak/{{ ora.csoport.osztalyai }}/">{{ ora.csoport.osztalyai|hagyomanyos }}</a>
                {% else %}
                <div class="osztaly">{{ ora.csoport.osztalyai }}</div>
                {% endif %}  
                <a class="terem texthoverable" href="{{ domain }}/orarend/kis/terem/{{ ora.terem.urlkod }}/">{{ ora.terem.rovid }}</a>
                <div class="csoport">{{ ora.csoport }}</div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    <div class="sorcim">{{ a_hanyadik }}.</div>
    {% endfor %}    
</div>