<header>
    <h1><a href="{{ domain }}/orarend/">{% include "orarend/structure/title.html" %}</a></h1>
    <a class="logout" href="accounts/logout/">Kijelentkezés</a>
    <nav>
        <ul>
            <li><a href="{{ domain }}/orarend/nagy/diak/">DOR</a></li>
            <li><a href="{{ domain }}/orarend/nagy/terem/">TEOR</a></li>
            <li><a href="{{ domain }}/orarend/nagy/tanar/">TOR</a></li>
            <li><a href="{{ domain }}/orarend/kis/diak/">dor</a></li>
            <li><a href="{{ domain }}/orarend/kis/terem/">teor</a></li>
            <li><a href="{{ domain }}/orarend/kis/tanar/">tor</a></li>
        </ul>
    </nav>
</header>