/*----------- dolgozatadatok section ---------------*/
section#dolgozatadatok{
    background-color: var(--main-bg-color);
    color: var(--main-main-fg-color);
    border: solid var(--line-width) var(--line-color);
    padding:5px;

    display: grid;
    justify-content: space-between;
    align-items: center;
    column-gap:15px;
    row-gap:0px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "nev nev"
    "ido suly"
    "ponthatarok ponthatarok"
    ;
}

    #nev{
        grid-area: nev;
    }

    #ido{
        grid-area: ido;
        justify-self: start;
    }
    
    #suly{
        grid-area: suly;
        justify-self: end;
        border: solid black 2px;
        border-radius: 5px;
        padding:2px;
    }

#ponthatarok{
    grid-area: ponthatarok;
    display:grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    grid-template-columns: repeat(auto,10);
    grid-auto-rows: auto;
    gap:5px;
}

.jegy, .osztott_jegy{
    grid-column: 1;
}

.jegy_szazalek, .osztott_jegy_szazalek{
    grid-column: 2;
}

.osztott_jegy_sensitivity_szazalek{
    grid-column: 3;
}


section h2{
    text-align: center;
}

.jegy{
    text-align: center;    
}

.jegy_szazalek, .osztott_jegy_szazalek, .osztott_jegy_sensitivity_szazalek{
    text-align: end;
}

/*----------- dolgozatadatok section vége ---------------*/
