main {
    justify-content: start;
}

.sorcim{    
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color:black;
}

.sorcim:hover{
    border-radius: 10px;
    transition: 0.3s;
    background-color: gray;
    /* color:white; */
}