#container{
    display: grid;
    grid-template-columns: auto repeat(10,200px) auto repeat(10,200px) auto repeat(10,200px) auto repeat(10,200px) auto repeat(10,200px) auto;
    grid-template-rows: 30px 30px;
    grid-auto-rows: auto;
}
#container .rublika{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    grid-auto-rows: auto;
    border: 2px solid var(--line-color);
    background-color: var(--rublika-bg-color);
    color: var(--rublika-fg-color);
    row-gap: 10px;
    padding: 10px 0;
}

#container .rublika .ora{
    width:180px;
    min-height:50px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
    "tantargy tanar terem"
    "tantargy csoport terem";
    align-content: stretch;
    background-color:var(--ora-bg-color);
    border:1px solid black;
}

#container .rublika .ora .tantargy{
    grid-area: tantargy;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    justify-self: start;
    padding:5px;
    border-right:1px solid var(--line-color);
    border-bottom:1px solid var(--line-color);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


#container .rublika .ora .tanar{
    grid-area: tanar;
    font-size: small;
    text-align: center;
    padding:5px;
    font-weight: bold;
}

#container .rublika .ora .terem{
    grid-area: terem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-self: end;
    padding:5px;
    border-left:1px solid var(--line-color);
    border-bottom:1px solid var(--line-color);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
