.cs_nya{ background-color:rgb(142, 219, 135);color:black}
.cs_kny{ background-color:rgb(142, 219, 135);color:black}
.cs_9a{ background-color:rgb(181, 252, 167);color:black}
.cs_10a{ background-color:rgb(117, 248, 91);color:black}
.cs_11a{ background-color:rgb(60, 207, 55);color:black}
.cs_12a{ background-color:rgb(33, 131, 30);color:black}


.cs_9b{ background-color:rgb(226, 223, 182);color:black}
.cs_10b{ background-color:rgb(231, 222, 143);color:black}
.cs_11b{ background-color:rgb(210, 212, 73);color:black}
.cs_12b{ background-color:rgb(206, 187, 19);color:black}

.cs_9c{ background-color:rgb(172, 130, 180);color:black}
.cs_10c{ background-color:rgb(167, 73, 162);color:black}

.cs_9d{ background-color:rgb(241, 170, 170);color:black}
.cs_10d{ background-color:rgb(218, 126, 126);color:black}
.cs_11d{ background-color:rgb(209, 50, 50);color:black}
.cs_12d{ background-color:rgb(134, 18, 18);color:black}

.cs_nye{ background-color:rgb(129, 126, 126);color:black}
.cs_9e{ background-color:rgb(173, 167, 167);color:black}
.cs_10e{ background-color:rgb(221, 214, 214);color:black}
.cs_11e{ background-color:rgb(241, 233, 233);color:black}
.cs_12e{ background-color:white;color:black}

.cs_nyf{ background-color:rgb(197, 208, 255);color:black}
.cs_9f{ background-color:rgb(144, 212, 252);color:black}
.cs_10f{ background-color:rgb(120, 162, 252);color:black}
.cs_11f{ background-color:rgb(70, 96, 209);color:black}
.cs_12f{ background-color:rgb(56, 67, 165);color:black}
