{% load static %}
<!DOCTYPE html>
<html lang="hu">
<head>
    {# META #}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# google font import -- roboto slab #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">

    {# favicon.ico #}
    <link rel="shortcut icon" type="image/png" href="{% static 'pic/favicon.ico' %}"/>

    {# CSS-fájlok #}
    <link rel="stylesheet" href="{% static 'css/structure/root.css' %}">
    <link rel="stylesheet" href="{% static 'css/structure/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/structure/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/structure/aside.css' %}">
    <link rel="stylesheet" href="{% static 'css/structure/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/orarend.css' %}">
    <link rel="stylesheet" href="{% static 'css/kis.css' %}">
    <link rel="stylesheet" href="{% static a_css %}">
    <link rel="stylesheet" href="{% static 'css/szinek.css' %}">

    {# JS-fájlok #}
    <script src="{% static 'js/teszt.js' %}"></script>

    {# Egyéb #}
    <title> {% include "structure/title.html" %}</title>

</head>
<body>
    {% include "structure/header.html" %}
    
    
    {# MAIN #}
    
    <main>
        {% include a_html %}        
    </main>



    {# FOOTER #}

    {% include "structure/footer.html" %}

</body>
</html>