{% load orarendfilterek %}
<div id="container">

    {% for a_nap in napok %}
    <div class="elvalaszto_oszlopcim">Tanár</div>
    <div class="napnev">{{ a_nap.hosszu }}</div>
    {% endfor %}
    <div class="elvalaszto_oszlopcim">Tanár</div>

    {% for a_nap in napok %}
        {% for a_hanyadik in hanyadikok %}
        <div class="oszlopcim">{{ a_hanyadik }}</div>
        {% endfor %}
    {% endfor %}

    {% for a_tanar in tanarok %}
        {% for a_nap in napok %}
        <a class="sorcim" href="{{ domain }}/orarend/kis/tanar/{{ a_tanar.urlkod }}/">{{ a_tanar.hosszu }}</a>
            {% for a_hanyadik in hanyadikok %}
            {% orak tanar=a_tanar nap=a_nap ora=a_hanyadik as orak_itt %}
            <div class="rublika terem_{{a_terem.sorszam}} nap_{{a_nap.sorszam}} ora_{{a_hanyadik}}">
                {% for ora in orak_itt %}
                <div class="ora">
                    <div class="tantargy {{ ora.tantargy.rovid }}">{{ ora.tantargy.rovid }}</div>
                    <div class="osztaly cs_{{ ora.csoport.osztalyai }}">{{ ora.csoport.osztalyai }}</div>
                    <a class="terem" href="{{ domain }}/orarend/kis/terem/{{ ora.terem.urlkod }}/">{{ ora.terem.rovid }}</a>
                    <div class="csoport">{{ ora.csoport }}</div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        {% endfor %}
        <a class="sorcim" href="{{ domain }}/orarend/kis/tanar/{{ a_tanar.urlkod }}/">{{ a_tanar.hosszu }}</a>
    {% endfor %}
    
</div>